<div id="sidebar" class="sidebar">
  <div class="sidebar-label">QIX Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="chapter-1"><a href="101. What is QIX and Why Should You Care.html"><span class="glyphicon glyphicon-menu-right"></span> 101. What is QIX and why should you care</a>
      <ul class="nav sub-sidebar sublist-0">
        <li><a href="#h2-0">The QIX engine</a></li>
        <li><a href="#h2-1">The associative model: overview</a></li>
        <li><a href="#h2-2">The associative model: breakdown</a></li>
        <li><a href="#h2-3">Leveraging the associative model</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
  </ul>
</div>

 <div class="hamburger-open">&#9776;</div> 