<div id="sidebar" class="sidebar">
  <div class="sidebar-label">QIX Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="chapter-0"><a href="101. What is QIX and Why Should You Care.html"><span class="glyphicon glyphicon-menu-right"></span> 100. Qlik's open ecosystem</a>
      <ul class="nav sub-sidebar sublist-0">
        <li><a href="#h2-0">Meet the Qlik Sense client</a></li>
        <li><a href="#h2-1">Qlik Sense under the hood</a></li>
        <li><a href="#h2-2">The open ecosystem</a></li>
        <li><a href="#h2-3">Why an open ecosystem?</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="hamburger-open">&#9776;</div>