<div id="sidebar" class="sidebar">
  <div class="sidebar-label">QIX Tutorial</div>
  <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
  <hr/>
  <ul class="nav nav-sidebar">
    <li class="chapter-1"><a href="101. What is QIX and Why Should You Care.html"><span class="glyphicon glyphicon-menu-right"></span> 101. What is QIX and why should you care</a>
      <ul class="nav sub-sidebar sublist-0">
        <li><a href="#h2-0">The QIX engine</a></li>
        <li><a href="#h2-1">The associative model: overview</a></li>
        <li><a href="#h2-2">The associative model: breakdown</a></li>
        <li><a href="#h2-3">Leveraging the associative model</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-2"><a href="102. Meet the Engine.html"><span class="glyphicon glyphicon-menu-right"></span> 102. Meet the engine</a>
      <ul class="nav sub-sidebar sublist-1">
        <li><a href="#h2-0">Structure of the associative model</a></li>
        <li><a href="#h2-1">Classes and their methods</a></li>
        <li><a href="#h2-2">Working with generic objects</a></li>
        <li><a href="#h2-3">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-3"><a href="103. Talk to the Engine.html"><span class="glyphicon glyphicon-menu-right"></span> 103. Talk to the Engine</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Establishing a session with the engine</a></li>
        <li><a href="#h2-1">Speaking the engine's language with handles</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-4"><a href="104. Stay in Sync with the Engine.html"><span class="glyphicon glyphicon-menu-right"></span> 104. Stay in Sync with the Engine</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Invalidation and the generic object lifecycle</a></li>
        <li><a href="#h2-1">Listening to the engine for invalidation events</a></li>
        <li><a href="#h2-2">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-5"><a href="105. Streamline with Enigma.html"><span class="glyphicon glyphicon-menu-right"></span> 105. Streamline with Enigma</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Meet enigma</a></li>
        <li><a href="#h2-1">Configuring enigma for an engine</a></li>
        <li><a href="#h2-2">Handling invalidation in enigma</a></li>
        <li><a href="#h2-3">Fin</a></li>
      </ul>
    </li>
    </li>
    <li class="chapter-6"><a href="106. Build a Dashboard - Set Up.html"><span class="glyphicon glyphicon-menu-right"></span> 106. Build a Dashboard - Set Up</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Project goal and overview</a></li>
        <li><a href="#h2-1">Setting up the project</a></li>
        <li><a href="#h2-2">Connecting to a server</a></li>
        <li><a href="#h2-3">Opening a model</a></li>
        <li><a href="#h2-4">Fin</a></li>
      </ul>
    </li>
    <li class="chapter-7"><a href="107. Creating Filters with ListObjects.html"><span class="glyphicon glyphicon-menu-right"></span> 107. Creating Filters with ListObjects</a>
      <ul class="nav sub-sidebar sublist-2">
        <li><a href="#h2-0">Defining list objects</a></li>
        <li><a href="#h2-1">Setting up data fetching</a></li>
        <li><a href="#h2-2">Getting the list object layouts</a></li>
        <li><a href="#h2-3">Rendering a filter with the layout</a></li>
        <li><a href="#h2-4">Making selections with the filter</a></li>
      </ul>
    </li>
  </ul>
</div>

 <div class="hamburger-open">&#9776;</div> 