$FontPathOpenSans: "../../node_modules/npm-font-open-sans/fonts/";
@import "../../node_modules/npm-font-open-sans/open-sans";

$FontPath: "../../node_modules/roboto-slab-fontface-kit/fonts/";
@import "../../node_modules/roboto-slab-fontface-kit/roboto-slab";

$raleway-font-path: '../../node_modules/fonts-raleway/fonts/fonts-raleway';
@import "../../node_modules/fonts-raleway/scss/raleway";

@import "./sidebar";

$hamburger-width: 47px;
$sidebar-width: 220px;

body {
  // overflow-x: hidden;
}

.main-content {
  margin-left: 47px;
  position: relative;
  width: calc(100% - 47px);

  .container.content {
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    .header {
      h1 {
        margin-top: 66px;
        font-family: Raleway;
        font-weight: 500;
        color: #36B7CE;
      }

      p {
        font-family: "Open Sans";
        font-weight: 300;
        padding: 15px 26px 17px 24px;
        background-color: rgba(54,183,207,0.07);
      }

      hr {
        border-top-width: 1px;
        border-top-color: #E1E1E1;
      }
    }

    #body-content {
      h2 {
        font-family: Raleway;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        color: #36B7CF;
      }

      h3 {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        color: #36B7CF;
      }

      h4 {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        color: #36B7CF;
      }

      p {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        color: #565555;
        line-height: 30px;
      }

      .section {
        position: relative;
        margin-top: 100px;

        .row {
          position: relative;

          .body-left {
            .graph-scroll-active {
              opacity: 1;
            }
          }

          .body-right {
            .ace_editor {
              width: 100%;
              height: 400px;

              .ace_gutter,
              .ace_scroller {
                padding-top: 10px;
              }

              .ace_gutter {
                border-left: 5px solid #36B7CF;

                .ace_fold-widget {
                  display: none;
                }
              }

              .copy-button {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 54px;
                height: 24px;
                background-color: #36B7CF;
                color: white;
                font-family: Helvetica;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                line-height: 24px;
                z-index: 100;
                cursor: pointer;
              }
            }
          }

          // &.row-graph {
          //   .body-right {
          //     top: 0;
          //     right: 0;
          //     height: 100vh;
          //   }
          // }

          &.graph-scroll-fixed {
            .body-right {
              position: fixed;
              top: 0;
              right: 0;
              left: calc(#{$hamburger-width} + 0.5*(100% - #{$hamburger-width}));
              width: calc(0.5*(100% - #{$hamburger-width}));

              @media(min-width: 992px){
                left: calc(#{$sidebar-width} + 0.5*(100% - #{$sidebar-width}));
                width: calc(0.5*(100% - #{$sidebar-width} - 70px));
              }
            }
          }

          &.graph-scroll-below {
            .body-right{
              position: absolute;
              bottom: 0;
              right: 0;
              top: auto;
            }
          }

          &.row-5-12 {
            &.graph-scroll-fixed {
              .body-right {
                left: calc(#{$hamburger-width} + (5/12)*(100% - #{$hamburger-width}));
                width: calc((7/12)*(100% - #{$hamburger-width}));

                @media(min-width: 992px){
                  left: calc(#{$sidebar-width} + (5/12)*(100% - #{$sidebar-width} + 15px));
                  width: calc((7/12)*(100% - #{$sidebar-width} - 70px));
                }
              }
            }
          }

          &.overlap-graph-scroll {
            .body-left {
              z-index: 100;
              width: 800px;
              margin-left: auto;
              margin-right: auto;
            }

            .body-right {
              position: absolute;
              width: 100%;
              top: 0;
              // padding-top: 150px;
            } 

            &.graph-scroll-fixed {
              .body-right {
                position: fixed;
                left: $hamburger-width;
                width: calc(100% - #{$hamburger-width});

                @media(min-width: 992px){
                  position: fixed;
                  left: calc(#{$sidebar-width} + 35px);
                  width: calc(100% - (#{$sidebar-width} + 70px));
                }
              }
            }

            &.graph-scroll-below {
              .body-right {
                position: absolute;
                bottom: 0;
                top: auto;
              }
            }
          }
        }

        &.fixed-transition {
          margin-top: 0;

          .scroll-line {
            position: relative;
            top: 0;
            width: 0;
            float: left;

            div {
              width: 100%;
              height: 100%;
            }
          }
          
          .row {
            top: 0;
            float: left;
            width: 100%;
            height: 50vh;

            .body-left {
              height: 100%;
              padding-top: 25vh;
            }

            .body-right {
              position: relative;
              height: 100%;
              padding-top: 20vh;

              .graph {
                position: relative;
                width: 100%;
                height: 100%;
              }
            }
          }

          &.graph-scroll-fixed {
            .row {
              position: fixed;
              left: #{$hamburger-width};
              width: calc(100% - #{$hamburger-width});

              @media(min-width: 992px) {
                left: calc(#{$sidebar-width} + 50px);
                width: calc(100% - (#{$sidebar-width} + 100px));
              }
            }
          }

          &.graph-scroll-below {
            .row {
              position: absolute;
              bottom: 0;
              top: auto;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 992px) {
  .main-content {
    margin-left: 220px;
    width: calc(100% - #{$sidebar-width});

    .container.content {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}