.state-machine .body-left {
  position: relative; }
  .state-machine .body-left div {
    padding-top: 300px;
    padding-bottom: 100px;
    opacity: 0.3; }

.state-machine .body-right {
  padding-top: calc((100vh - 400px)/2); }
  .state-machine .body-right .graph {
    position: relative;
    height: 400px; }
    .state-machine .body-right .graph .table-container {
      position: relative;
      width: 207px;
      background-color: #D3F4F9;
      padding-top: 13px;
      padding-left: 12.5px;
      padding-right: 12.5px;
      padding-bottom: 9.58px;
      border-radius: 5px;
      font-family: 'Open Sans';
      font-size: 16px;
      color: #4D4D4D; }
      .state-machine .body-right .graph .table-container table {
        width: 182px; }
        .state-machine .body-right .graph .table-container table thead {
          border-bottom: 1px solid #fff; }
          .state-machine .body-right .graph .table-container table thead th {
            line-height: 22px;
            padding-bottom: 5.5px;
            font-weight: 600; }
        .state-machine .body-right .graph .table-container table tbody tr:first-of-type td {
          padding-top: 4.5px;
          width: 80px; }
        .state-machine .body-right .graph .table-container table tbody tr td {
          font-weight: 300; }
      .state-machine .body-right .graph .table-container.filtered-table {
        position: absolute;
        top: 0;
        left: 75%;
        transform: translateX(-50%); }
    .state-machine .body-right .graph .stage-1,
    .state-machine .body-right .graph .stage-2 {
      opacity: 0; }
    .state-machine .body-right .graph svg {
      position: absolute;
      top: 0; }
      .state-machine .body-right .graph svg .state-circle,
      .state-machine .body-right .graph svg .filtered-circle {
        fill: #36B7CE; }
      .state-machine .body-right .graph svg .state-circle-outline {
        stroke-width: 1;
        stroke: #36B7CE;
        fill: none; }
      .state-machine .body-right .graph svg .state-circle-text {
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 16px;
        text-anchor: middle; }
        .state-machine .body-right .graph svg .state-circle-text.empty {
          fill: #4D4D4D; }
        .state-machine .body-right .graph svg .state-circle-text.full {
          fill: #fff; }
      .state-machine .body-right .graph svg .rect-full,
      .state-machine .body-right .graph svg .rect-filtered {
        fill: #36B7CE; }
      .state-machine .body-right .graph svg .label-text {
        font-family: 'Open Sans';
        font-weight: 300;
        font-style: italic;
        font-size: 16px;
        fill: #565555;
        text-anchor: middle; }
      .state-machine .body-right .graph svg .arrow-head {
        fill: #C5C5C5; }
      .state-machine .body-right .graph svg .arrow {
        stroke-width: 1;
        stroke: #C5C5C5; }

.modeling-associations .body-left {
  position: relative;
  padding-top: 200px;
  top: 0; }
  .modeling-associations .body-left div {
    padding-top: 150px;
    padding-bottom: 250px;
    opacity: 0.3; }

.modeling-associations .body-right {
  position: relative;
  padding-top: calc((100vh - 600px)/2); }
  .modeling-associations .body-right .graph {
    position: relative;
    height: 600px; }
    .modeling-associations .body-right .graph .table-container {
      position: relative;
      top: 200px;
      width: 207px;
      background-color: #D3F4F9;
      padding-top: 13px;
      padding-left: 12.5px;
      padding-right: 12.5px;
      padding-bottom: 9.58px;
      border-radius: 5px;
      font-family: 'Open Sans';
      font-size: 16px;
      color: #4D4D4D; }
      .modeling-associations .body-right .graph .table-container table {
        width: 182px; }
        .modeling-associations .body-right .graph .table-container table thead {
          border-bottom: 1px solid #fff; }
          .modeling-associations .body-right .graph .table-container table thead th {
            line-height: 22px;
            padding-bottom: 5.5px;
            font-weight: 600; }
        .modeling-associations .body-right .graph .table-container table tbody tr:first-of-type td {
          padding-top: 4.5px;
          width: 80px; }
        .modeling-associations .body-right .graph .table-container table tbody tr td {
          font-weight: 300; }
    .modeling-associations .body-right .graph svg {
      position: absolute;
      top: 0; }
      .modeling-associations .body-right .graph svg .connector-rect {
        fill: #D3F4F9; }
      .modeling-associations .body-right .graph svg .arrow.base {
        fill: none; }
      .modeling-associations .body-right .graph svg .arrow {
        stroke-width: 1;
        stroke: #8F8F8F; }
      .modeling-associations .body-right .graph svg .connector-line {
        fill: white;
        stroke: none; }

.multiple-data-sets .row .body-left {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
  top: 0;
  pointer-events: none; }
  .multiple-data-sets .row .body-left div {
    padding-top: 400px;
    padding-bottom: 300px;
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0.8);
    background-clip: content-box; }

.multiple-data-sets .row .body-right {
  padding-top: calc((100vh - 600px)/2); }
  .multiple-data-sets .row .body-right .graph {
    position: relative;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
    .multiple-data-sets .row .body-right .graph .table-container {
      position: relative;
      top: 100px;
      margin-top: 50px;
      padding-top: 13px;
      padding-left: 12.5px;
      padding-right: 12.5px;
      padding-bottom: 9.58px;
      border-radius: 5px;
      font-family: 'Open Sans';
      font-size: 16px;
      color: #4D4D4D; }
      .multiple-data-sets .row .body-right .graph .table-container table thead {
        border-bottom: 1px solid #fff; }
        .multiple-data-sets .row .body-right .graph .table-container table thead th {
          line-height: 22px;
          padding-bottom: 5.5px;
          font-weight: 600; }
      .multiple-data-sets .row .body-right .graph .table-container table tbody tr:first-of-type td {
        padding-top: 4.5px; }
      .multiple-data-sets .row .body-right .graph .table-container table tbody tr td {
        font-weight: 300; }
      .multiple-data-sets .row .body-right .graph .table-container.dim-table {
        width: 207px;
        margin-left: 66px;
        background-color: #D3F4F9; }
        .multiple-data-sets .row .body-right .graph .table-container.dim-table table {
          width: 182px; }
          .multiple-data-sets .row .body-right .graph .table-container.dim-table table tbody tr:first-of-type td {
            width: 80px; }
      .multiple-data-sets .row .body-right .graph .table-container.fact-table {
        width: 273px;
        background-color: #D3F4F9; }
        .multiple-data-sets .row .body-right .graph .table-container.fact-table table {
          width: 248px; }
      .multiple-data-sets .row .body-right .graph .table-container.sum-table {
        position: absolute;
        width: 197px;
        background-color: #DDEFFF;
        top: 100px; }
        .multiple-data-sets .row .body-right .graph .table-container.sum-table table {
          width: 172px; }
          .multiple-data-sets .row .body-right .graph .table-container.sum-table table tbody td:first-of-type {
            width: 120px; }
    .multiple-data-sets .row .body-right .graph svg {
      position: absolute;
      top: 0;
      height: 600px; }
      .multiple-data-sets .row .body-right .graph svg .list-label {
        text-anchor: middle;
        fill: #4D4D4D;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 300; }
      .multiple-data-sets .row .body-right .graph svg .connector-rect.top {
        fill: #D3F4F9; }
      .multiple-data-sets .row .body-right .graph svg .connector-rect.bottom {
        fill: #D3F4F9;
        opacity: 0; }
      .multiple-data-sets .row .body-right .graph svg .connector-line path {
        fill: white;
        stroke: none; }
      .multiple-data-sets .row .body-right .graph svg .arrow {
        stroke-width: 1;
        stroke: #8F8F8F; }
      .multiple-data-sets .row .body-right .graph svg .arrow.base {
        fill: none; }
        .multiple-data-sets .row .body-right .graph svg .arrow.base.bottom {
          opacity: 0; }
      .multiple-data-sets .row .body-right .graph svg .sum-line {
        stroke-width: 2;
        stroke: #36B7CF;
        stroke-dasharray: 2, 3; }
    .multiple-data-sets .row .body-right .graph .sum-label {
      position: absolute;
      width: 100px;
      transform: translateY(-100%);
      font-family: 'Open Sans';
      font-style: italic;
      font-size: 14px;
      color: #4D4D4D;
      font-weight: 300; }
    .multiple-data-sets .row .body-right .graph .sum-output {
      position: absolute;
      width: 156px;
      background-color: #F1F1F1;
      transform: translateY(-50%);
      padding-left: 21px;
      padding-top: 15px;
      padding-bottom: 13px; }
      .multiple-data-sets .row .body-right .graph .sum-output .label {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        color: #565555;
        padding: 0; }
      .multiple-data-sets .row .body-right .graph .sum-output .value {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 300;
        color: #36B7CF; }

.section .body-right .graph svg .circle-container {
  fill: #212E3D; }

.section .body-right .graph svg .container-label {
  text-anchor: middle;
  fill: #4D4D4D;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300; }

.section .body-right .graph svg .list-object-circle {
  fill: #fff; }

.section .body-right .graph svg .list-object-label {
  font-size: 10px;
  font-style: italic;
  fill: #5C7490; }

.section .body-right .graph svg .list-object-circle.selectable,
.section .body-right .graph svg .list-object-checkmark.selectable {
  cursor: pointer; }

.section .body-right .graph svg .highlight-circle {
  fill: none;
  stroke-width: 4;
  stroke: #00B3E5;
  opacity: 0; }
