.section.interactive-validation .graph {
  width: 100%;
  height: 200px; }
  .section.interactive-validation .graph svg {
    position: relative; }
    .section.interactive-validation .graph svg .state-circle {
      fill: #36B7CE; }
    .section.interactive-validation .graph svg .state-circle-outline {
      stroke-width: 1;
      stroke: #36B7CE;
      fill: none; }
    .section.interactive-validation .graph svg .state-circle-text {
      font-family: 'Open Sans';
      font-weight: normal;
      font-size: 16px;
      text-anchor: middle; }
      .section.interactive-validation .graph svg .state-circle-text.empty {
        fill: #4D4D4D; }
      .section.interactive-validation .graph svg .state-circle-text.full {
        fill: #fff; }
    .section.interactive-validation .graph svg .output {
      font-family: 'Open Sans';
      font-size: 16px;
      fill: #565555; }
      .section.interactive-validation .graph svg .output.output-label {
        font-weight: 300; }
      .section.interactive-validation .graph svg .output.output-value {
        font-weight: normal; }
    .section.interactive-validation .graph svg .checkmark-circle {
      stroke-width: 2;
      stroke: #757575;
      fill: none; }
    .section.interactive-validation .graph svg .checkmark-validation-status {
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 16px;
      font-style: italic;
      fill: #565555;
      text-anchor: middle; }
    .section.interactive-validation .graph svg .state-line {
      stroke-width: 1;
      stroke: #C5C5C5; }
    .section.interactive-validation .graph svg .arrow-head {
      fill: #C5C5C5; }
    .section.interactive-validation .graph svg .action-rect {
      fill: #F1F1F1;
      cursor: pointer; }
    .section.interactive-validation .graph svg .pulse-rect {
      fill: none;
      stroke-width: 2;
      stroke: #00B3E5; }
    .section.interactive-validation .graph svg .action-text {
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: normal;
      text-anchor: middle;
      cursor: pointer; }
