.section {
  &.interactive-validation {
    .graph {
      width: 100%;
      height: 200px;

      svg {
        position: relative;

        .state-circle {
          fill: #36B7CE;
        }
        .state-circle-outline {
          stroke-width: 1;
          stroke: #36B7CE;
          fill: none;
        }
        .state-circle-text {
          font-family: 'Open Sans';
          font-weight: normal;
          font-size: 16px;
          text-anchor: middle;

          &.empty {
            fill: #4D4D4D;
          }

          &.full {
            fill: #fff;
          }
        }

        .output {
          font-family: 'Open Sans';
          font-size: 16px;
          fill: #565555;

          &.output-label {
            font-weight: 300;
          }
          &.output-value {
            font-weight: normal;
          }
        }

        .checkmark-circle {
          stroke-width: 2;
          stroke: #757575;
          fill: none;
        }
        .checkmark-validation-status {
          font-family: 'Open Sans';
          font-weight: 300;
          font-size: 16px;
          font-style: italic;
          fill: #565555;
          text-anchor: middle;
        }

        .state-line {
          stroke-width: 1;
          stroke: #C5C5C5;
        }
        .arrow-head {
          fill: #C5C5C5;
        }

        .action-rect {
          fill: #F1F1F1;
        }
        .action-text {
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: normal;
          // fill: #4D4D4D;
          text-anchor: middle;
        }
      }
    }
  }
}