@import './modeling-associations.scss';
@import './multiple-data-sets.scss';

.section {
  .body-right {
    .graph {
      svg {
        .circle-container {
          fill: #212E3D;
        }

        .list-object-circle {
          fill: #fff;
        }

        .list-object-label {
          font-size: 10px;
          font-style: italic;
          fill: #5C7490;
        }
      }
    }
  }
}