@import './state-machine.scss';
@import './modeling-associations.scss';
@import './multiple-data-sets.scss';

.section {
  .body-right {
    .graph {
      svg {
        .circle-container {
          fill: #212E3D;
        }
        .container-label {
          text-anchor: middle;
          fill: #4D4D4D;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 300;
        }

        .list-object-circle {
          fill: #fff;
        }

        .list-object-label {
          font-size: 10px;
          font-style: italic;
          fill: #5C7490;
        }

        .list-object-circle,
        .list-object-checkmark {
          &.selectable {
            cursor: pointer;
          }
        }

        .highlight-circle {
          fill: none;
          stroke-width: 4;
          stroke: #00B3E5;
          opacity: 0;
        }
      }
    }
  }

  // &.embed-dashboard {
  //   .graph {
  //     position: relative;

  //     .iframe-container {
  //       position: absolute;
  //       top: 4.8%;
  //       left: 3.9%;
  //       width: 91%;
  //       height: 64.2%;
  //       border: none;

  //       iframe {
  //         position: relative;
  //         // transform: scale(0.5, 0.5);
  //         // top: -50%;
  //         // left: -50%;
  //         width: 100%;
  //         height: 100%;
  //       //   border: none;
  //       }
  //     }
  //   }
  // }
}