.modeling-associations {
  .body-left {
    position: relative;
    padding-top: 200px;
    top: 0;

    div {
      height: 440px;
      opacity: 0.3;
    }
  }

  .body-right {
    padding-top: 100px;

    .graph {
      height: 400px; 

      .table-container {
        width: 207px;
        background-color: #D3F4F9;
        margin-top: 200px;
        padding-top: 13px;
        padding-left: 12.5px;
        padding-right: 12.5px;
        padding-bottom: 9.58px;
        border-radius: 5px;

        font-family: 'Open Sans';
        font-size: 16px;
        color: #4D4D4D;

        table {
          width: 182px;

          thead {
            border-bottom: 1px solid #fff;

            th {
              line-height: 22px;
              padding-bottom: 5.5px;

              font-weight: 600;
            }
          }

          tbody {
            tr {
              &:first-of-type {
                td {
                  padding-top: 4.5px;
                  width: 80px;
                }
              }

              td {
                font-weight: 300;
              }
            }
          }
        }
      }

      svg {
        position: absolute;
        top: 200px;
        height: 400px;

        .connector-rect {
          fill: #D3F4F9
        }

        .arrow.base {
          fill: none;
        }

        .arrow {
          stroke-width: 1;
          stroke: #8F8F8F;
        }

        .connector-line {
          fill: white;
          stroke: none;
        }
      }
    }
  }
}