$hamburger-width: 47px;
$sidebar-width: 220px;

.multiple-data-sets {
  .row {
    .body-left {
      position: relative;
      padding-top: 200px;
      padding-bottom: 300px;
      top: 0;
      pointer-events: none;

      div {
        // height: 440px;
        padding-top: 400px;
        padding-bottom: 300px;
        opacity: 0.3;
        background-color: rgba(white, 0.8);
        background-clip: content-box;
      }
    }

    .body-right {
      // padding-top: 100px;

      .graph {
        position: relative;
        height: 600px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        .table-container {
          position: relative;
          top: 100px;
          margin-top: 50px;
          padding-top: 13px;
          padding-left: 12.5px;
          padding-right: 12.5px;
          padding-bottom: 9.58px;
          border-radius: 5px;

          font-family: 'Open Sans';
          font-size: 16px;
          color: #4D4D4D;

          table {

            thead {
              border-bottom: 1px solid #fff;

              th {
                line-height: 22px;
                padding-bottom: 5.5px;

                font-weight: 600;
              }
            }

            tbody {
              tr {
                &:first-of-type {
                  td {
                    padding-top: 4.5px;
                  }
                }

                td {
                  font-weight: 300;
                }
              }
            }
          }

          &.dim-table {
            width: 207px;
            margin-left: 66px;
            background-color: #D3F4F9;

            table {
              width: 182px;

              tbody {
                tr {
                  &:first-of-type {
                    td {
                      width: 80px;
                    }
                  }
                }
              }
            }
          }

          &.fact-table {
            width: 273px;
            background-color: #D3F4F9;

            table {
              width: 248px;
            }
          }

          &.sum-table {
            position: absolute;
            width: 197px;
            background-color: #DDEFFF;
            top: 100px;
            // left: 600px;

            table {
              width: 172px;

              tbody {
                td:first-of-type {
                  width: 120px;
                }
              }
            }
          }
        }

        svg {
          position: absolute;
          top: 0;
          height: 600px;

          .list-label {
            text-anchor: middle;
            fill: #4D4D4D;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 300;
          }

          .connector-rect.top {
            fill: #D3F4F9;
          }

          .connector-rect.bottom {
            fill: #D3F4F9;
            opacity: 0;
          }

          .connector-line {
            path {
              fill: white;
              stroke: none;
            }
          }

          .arrow {
            stroke-width: 1;
            stroke: #8F8F8F;
          }

          .arrow.base {
            fill: none;

            &.bottom {
              opacity: 0;
            }
          }

          .sum-line {
            stroke-width: 2;
            stroke: #36B7CF;
            stroke-dasharray: 2, 3;
          }
        }

        .sum-label {
          position: absolute;
          width: 100px;
          transform: translateY(-100%);
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 14px;
          color: #4D4D4D;
          font-weight: 300;
        }

        .sum-output {
          position: absolute;
          width: 156px;
          background-color: #F1F1F1;
          transform: translateY(-50%);
          padding-left: 21px;
          padding-top: 15px;
          padding-bottom: 13px;

          .label {
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            color: #565555;
            padding: 0;
          }

          .value {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 300;
            color: #36B7CF;
          }
        }
      }
    }
  }
}