.state-machine {
  .body-left {
    position: relative;

    div {
      padding-top: 300px;
      padding-bottom: 100px;
      opacity: 0.3;
    }
  }

  .body-right {
    padding-top: calc((100vh - 400px)/2);

    .graph {
      position: relative;
      height: 400px;

      .table-container {
        position: relative;
        width: 207px;
        background-color: #D3F4F9;
        padding-top: 13px;
        padding-left: 12.5px;
        padding-right: 12.5px;
        padding-bottom: 9.58px;
        border-radius: 5px;

        font-family: 'Open Sans';
        font-size: 16px;
        color: #4D4D4D;

        table {
          width: 182px;

          thead {
            border-bottom: 1px solid #fff;

            th {
              line-height: 22px;
              padding-bottom: 5.5px;

              font-weight: 600;
            }
          }

          tbody {
            tr {
              &:first-of-type {
                td {
                  padding-top: 4.5px;
                  width: 80px;
                }
              }

              td {
                font-weight: 300;
              }
            }
          }
        }

        &.table {
          // float: left;
        }

        &.filtered-table {
          position: absolute;
          top: 0;
          left: 75%;
          transform: translateX(-50%);
        }
      }

      .stage-1,
      .stage-2 {
        opacity: 0;
      }

      svg {
        position: absolute;
        top: 0;

        .state-circle,
        .filtered-circle {
          fill: #36B7CE;
        }
        .state-circle-outline {
          stroke-width: 1;
          stroke: #36B7CE;
          fill: none;
        }
        .state-circle-text {
          font-family: 'Open Sans';
          font-weight: normal;
          font-size: 16px;
          text-anchor: middle;

          &.empty {
            fill: #4D4D4D;
          }

          &.full {
            fill: #fff;
          }
        }

        .rect-full,
        .rect-filtered {
          fill: #36B7CE
        }

        .label-text {
          font-family: 'Open Sans';
          font-weight: 300;
          font-style: italic;
          font-size: 16px;
          fill: #565555;
          text-anchor: middle;
        }

        .arrow-head {
          fill: #C5C5C5;
        }
        .arrow {
          stroke-width: 1;
          stroke: #C5C5C5;
        }
      }
    }
  }
}